# 6.1. Time Series Feature Extraction

Target di notebook ini kita ekstrak banyak feature dulu, baru habis itu diuji kualitas featurenya.

Walaupun banyak feature yg ga masuk akal, kayak misal masak tiap hari jumat lebih sering hujan? kan gamasuk ya, tp coba aja :v

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('./dataset/train_cleaned.csv')
df_train['datetime_iso'] = pd.to_datetime(df_train['datetime_iso'])
df_train['source'] = 'df_train'

df_test = pd.read_csv('./dataset/test_cleaned.csv')
df_test['datetime_iso'] = pd.to_datetime(df_test['datetime_iso'])
df_test['source'] = 'df_test'

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341880 entries, 0 to 341879
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datetime      341880 non-null  int64
 1   datetime_iso  341880 non-null  datetime64[ns, UTC]
 2   time-zone     341880 non-null  int64
 3   temp          341880 non-null  float64
 4   visibility    51112 non-null   object
 5   d_point       341880 non-null  float64
 6   feels         341880 non-null  float64
 7   min_temp      341880 non-null  float64
 8   max_temp      341880 non-null  float64
 9   prssr         341880 non-null  float64
 10  sea_level     192964 non-null  object
 11  grnd_level    192919 non-null  object
 12  hum           341880 non-null  float64
 13  wind_spd      339654 non-null  float64
 14  wind_deg      341880 non-null  float64
 15  rain_1h       341880 non-null  float64
 16  rain_3h       192329 non-null  object
 17  snow_1h       192696 non-null  object
 18  snow_3h       192699 non-null  object
 19  clouds        341880 non-null  float64
 20  source        341880 non-null  object
dtypes: datetime64[ns, UTC](1), float64(11), int64(2), object(7)
memory usage: 54.8+ MB

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49368 entries, 0 to 49367
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      49368 non-null  int64
 1   datetime_iso  49368 non-null  datetime64[ns, UTC]
 2   time-zone     49368 non-null  int64
 3   temp          49368 non-null  float64
 4   visibility    7533 non-null   object
 5   d_point       49367 non-null  float64
 6   feels         49368 non-null  float64
 7   min_temp      49368 non-null  float64
 8   max_temp      49368 non-null  float64
 9   prssr         49368 non-null  float64
 10  sea_level     27694 non-null  object
 11  grnd_level    27866 non-null  object
 12  hum           49368 non-null  float64
 13  wind_spd      49034 non-null  float64
 14  wind_deg      49368 non-null  float64
 15  rain_3h       27841 non-null  object
 16  snow_1h       27666 non-null  object
 17  snow_3h       27803 non-null  object
 18  clouds        49368 non-null  float64
 19  source        49368 non-null  object
dtypes: datetime64[ns, UTC](1), float64(10), int64(2), object(7)
memory usage: 7.5+ MB

In [5]:
df = pd.concat([df_train, df_test], axis=0)
#df = df_train

# Feature Extraction: Time Series

In [6]:
# Kita ambil datetime_iso saja dan label nya

#df_time_series = df[['datetime_iso', 'rain_1h']]

In [7]:
#df_time_series.info()

## Create Feature: Day

In [8]:
# Extract the month and create a new column
df['day_of_the_week'] = df['datetime_iso'].dt.dayofweek

In [9]:
df.day_of_the_week.value_counts()

0    55896
1    55896
2    55896
3    55896
4    55896
5    55896
6    55872
Name: day_of_the_week, dtype: int64

## Create Feature: Month

In [10]:
# Extract the month and create a new column
df['month'] = df['datetime_iso'].dt.month

In [11]:
df.month.value_counts()

1     33480
3     33480
5     33480
7     33480
8     33192
10    32736
12    32736
4     32400
6     32400
9     31680
11    31680
2     30504
Name: month, dtype: int64

## Create Feature: Season

Pembagian musim:
- Hujan: Oktober - Maret
- Kemarau: April - September

In [12]:
ordinal_map = {1:1,
               2:1,
               3:1,
               4:0,
               5:0,
               6:0,
               7:0,
               8:0,
               9:0,
               10:1,
               11:1,
               12:1,
               
}

df['season'] = df.month.map(ordinal_map)

In [13]:
df.head()

,datetime,datetime_iso,time-zone,temp,visibility,d_point,feels,min_temp,max_temp,prssr,...,wind_deg,rain_1h,rain_3h,snow_1h,snow_3h,clouds,source,day_of_the_week,month,season
0,283996800,1979-01-01 00:00:00+00:00,28800,24.75,NaN,23.89,25.76,24.28,25.22,1012.0,...,320.0,0.00,0,NaN,NaN,100.0,df_train,0,1,1
1,284000400,1979-01-01 01:00:00+00:00,28800,24.58,NaN,23.73,25.57,23.99,25.26,1012.0,...,338.0,0.00,0,0,0,100.0,df_train,0,1,1
2,284004000,1979-01-01 02:00:00+00:00,28800,26.60,unidentified,24.06,26.60,26.10,27.39,1012.0,...,339.0,0.00,volume:zero,NaN,NaN,99.0,df_train,0,1,1
3,284007600,1979-01-01 03:00:00+00:00,28800,27.31,NaN,24.37,30.90,26.59,28.36,1012.0,...,342.0,0.13,nol,0,NaN,94.0,df_train,0,1,1
4,284011200,1979-01-01 04:00:00+00:00,28800,27.41,NaN,25.05,31.54,26.58,28.31,1011.0,...,336.0,0.34,nol,NaN,0,100.0,df_train,0,1,1

### Create Feature: yearly_mean

We create the 'yearly_mean' feature by grouping the DataFrame by the year of the 'date' column and then using the transform function to calculate the mean value for each group. This assigns the mean value of each year to all rows within that year.

In [14]:
df['yearly_mean'] = df.groupby(df['datetime_iso'].dt.year)['rain_1h'].transform('mean')

### Create Feature: monthly_mean
We create the 'monthly_mean' feature by grouping the DataFrame by the month of the 'date' column and calculating the mean value for each month.

In [15]:
df['monthly_mean'] = df.groupby(df['datetime_iso'].dt.month)['rain_1h'].transform('mean')

### Create Feature: weekly_mean

In [16]:
df['weekly_mean'] = df.groupby([df['datetime_iso'].dt.year, df['datetime_iso'].dt.month, df['datetime_iso'].dt.isocalendar().week])['rain_1h'].transform('mean')

In [17]:
df.head()

,datetime,datetime_iso,time-zone,temp,visibility,d_point,feels,min_temp,max_temp,prssr,...,snow_1h,snow_3h,clouds,source,day_of_the_week,month,season,yearly_mean,monthly_mean,weekly_mean
0,283996800,1979-01-01 00:00:00+00:00,28800,24.75,NaN,23.89,25.76,24.28,25.22,1012.0,...,NaN,NaN,100.0,df_train,0,1,1,0.373315,0.442561,0.518929
1,284000400,1979-01-01 01:00:00+00:00,28800,24.58,NaN,23.73,25.57,23.99,25.26,1012.0,...,0,0,100.0,df_train,0,1,1,0.373315,0.442561,0.518929
2,284004000,1979-01-01 02:00:00+00:00,28800,26.60,unidentified,24.06,26.60,26.10,27.39,1012.0,...,NaN,NaN,99.0,df_train,0,1,1,0.373315,0.442561,0.518929
3,284007600,1979-01-01 03:00:00+00:00,28800,27.31,NaN,24.37,30.90,26.59,28.36,1012.0,...,0,NaN,94.0,df_train,0,1,1,0.373315,0.442561,0.518929
4,284011200,1979-01-01 04:00:00+00:00,28800,27.41,NaN,25.05,31.54,26.58,28.31,1011.0,...,NaN,0,100.0,df_train,0,1,1,0.373315,0.442561,0.518929

## Kita uji dengan pycaret: random forest

In [18]:
df = df.drop(['datetime','datetime_iso','time-zone','visibility','sea_level','grnd_level','rain_3h','snow_1h','snow_3h'],axis = 1)

In [19]:
df_train = df[df['source'] == 'df_train']
df_test = df[df['source'] == 'df_test']

# Remove the 'source' column if you no longer need it
df_train = df_train.drop(columns=['source'])
df_test = df_test.drop(columns=['source'])

In [20]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341880 entries, 0 to 341879
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   temp             341880 non-null  float64
 1   d_point          341880 non-null  float64
 2   feels            341880 non-null  float64
 3   min_temp         341880 non-null  float64
 4   max_temp         341880 non-null  float64
 5   prssr            341880 non-null  float64
 6   hum              341880 non-null  float64
 7   wind_spd         339654 non-null  float64
 8   wind_deg         341880 non-null  float64
 9   rain_1h          341880 non-null  float64
 10  clouds           341880 non-null  float64
 11  day_of_the_week  341880 non-null  int64
 12  month            341880 non-null  int64
 13  season           341880 non-null  int64
 14  yearly_mean      341880 non-null  float64
 15  monthly_mean     341880 non-null  float64
 16  weekly_mean      341880 non-null  float64
dtypes: float64(14), int64(3)
memory usage: 47.0 MB

In [21]:
from pycaret.regression import *
s = setup(df_train, target = 'rain_1h', session_id = 123)

In [22]:
lr = create_model('lr')

In [23]:
rf = create_model('rf')

Initiated  . . . . . . . . . . . . . . . . . .                 22:14:42
Status     . . . . . . . . . . . . . . . . . .         Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Regressor

KeyboardInterrupt

In [24]:
catboost = create_model('catboost')

## kita coba pake satu satu

In [ ]:
# ['day_of_the_week', 'month','season','yearly_mean','monthly_mean','weekly_mean']

### Day_of_The_week

In [26]:
df_train_dotw = df_train.drop(['month','season','yearly_mean','monthly_mean','weekly_mean'],axis = 1)

In [27]:
s_dotw = setup(df_train_dotw, target = 'rain_1h', session_id = 123)

In [28]:
catboost = create_model('catboost')

### Month

In [29]:
df_train_month = df_train.drop(['day_of_the_week','season','yearly_mean','monthly_mean','weekly_mean'],axis = 1)

In [30]:
s_month = setup(df_train_month, target = 'rain_1h', session_id = 123)

In [31]:
catboost = create_model('catboost')

### Season

In [32]:
df_train_season = df_train.drop(['day_of_the_week','month','yearly_mean','monthly_mean','weekly_mean'],axis = 1)

In [35]:
s_season = setup(df_train_season, target = 'rain_1h', session_id = 123)

In [36]:
catboost = create_model('catboost')

### yearly_mean

In [37]:
df_train_yearly_mean = df_train.drop(['day_of_the_week','month','season','monthly_mean','weekly_mean'],axis = 1)

In [38]:
s_yearly_mean = setup(df_train_yearly_mean, target = 'rain_1h', session_id = 123)

In [39]:
catboost = create_model('catboost')

### monthly_mean

In [40]:
df_train_monthly_mean = df_train.drop(['day_of_the_week','month','season','yearly_mean','weekly_mean'],axis = 1)

In [41]:
s_monthly_mean = setup(df_train_monthly_mean, target = 'rain_1h', session_id = 123)

In [42]:
catboost = create_model('catboost')

### weekly_mean

In [43]:
df_train_weekly_mean = df_train.drop(['day_of_the_week','month','season','yearly_mean','monthly_mean'],axis = 1)

In [44]:
s_weekly_mean = setup(df_train_weekly_mean, target = 'rain_1h', session_id = 123)

In [45]:
catboost = create_model('catboost')

### Treshold

In [46]:
df_train_treshold = df_train.drop(['day_of_the_week', 'month','season','yearly_mean','monthly_mean','weekly_mean'],axis = 1)

In [47]:
s_tres = setup(df_train_treshold, target = 'rain_1h', session_id = 123)

In [48]:
catboost = create_model('catboost')